<section id="footer" [ngClass]="{'container-fluid': auth.currentUserValue, 'container max-width':auth.currentUserValue==null }">
  <div class="footer mt-2">
      <div class="row footer-main pt-4 pb-3"></div>

      <div class="row footer-bottom pt-4 pb-2">
          <div class="col-8">
              <p>    Copyright &copy; 2019 "An assignment for the recruitment by IMPEL IT"</p>
          </div>
          <div class="col-4">
              <h5>Coded By : "Mohammad Amdadul Islam"</h5>
          </div>
      </div>
  </div>
</section>
